<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="PTB Kel1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTBKel1"
        tools:targetApi="31">
        <activity
            android:name=".TambahPeriodeActivity"
            android:exported="false"
            android:label="@string/title_activity_tambah_periode"
            android:theme="@style/Theme.PTBKel1" />
        <activity
            android:name=".HasilVoting"
            android:exported="false"
            android:label="@string/title_activity_hasil_voting"
            android:theme="@style/Theme.PTBKel1" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".VoteberhasilActivity"
            android:exported="false" />
        <activity
            android:name=".MenuKandidatActivity"
            android:exported="false" />
        <activity
            android:name=".DetailKandidatActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>